<!-- <h1> Login </h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password!" required>
    <input type="submit" value="Login">

</form> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
    <title><%=title%></title>
</head>
 <body>
          
    <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
                <form action="/users/create-session" method="POST">
                    <h3> Login here</h3>
                    <label for="email">Enter Email ID</label>
                    <input type="email" name="email" placeholder="Email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password!" required>
                    <input type="submit" value="Login">
                
                
                    <div class="social">
                  <div class="go"><i class="fab fa-google"></i>  Google</div>
                  <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
                  <div class="sign-up"> <a href="#"> </a>  Sign Up</div>
                
                  </a></div>
                </div>
                </form> 
        
       
                
            
 </body>


</html>